<div>
    <todo-form></todo-form>
    <div>
        <h3 class="text-center">Tasks</h3>
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="todo in todos" ng-hide="todo.isComplete">
                    <td class="col-md-1">{{todo.name}}</td>
                    <td class="col-md-8" ng-click="alert(todo.task)">{{todo.task}}</td>
                    <td class="col-md-1">{{todo.created | date: 'medium'}}</td>
                    <td class="col-md-2 text-right">
                        <button class="btn btn-success" ng-click="completeTodo(todo._id, todo)"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-danger" ng-click="removeTodo(todo._id)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
