<div class="text-center">
    <h1>ToDoRi</h1>
</div>
<div>
    <div>{{formName}}</div>
    <form ng-submit="postTodo()" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                <label for="name">Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" name="name" class="form-control" ng-model="todoName">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="task">Task Description</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="task" class="form-control" ng-model="todoTask">
            </div>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
    {{hello}}
    <div>
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="todo in todos" ng-hide="todo.isComplete">
                        <td class="col-md-2">{{todo.name}}</td>
                        <td class="col-md-6">{{todo.task}}</td>
                        <td class="col-md-2">{{todo.created | date: 'medium'}}</td>
                        <td class="col-md-2 text-right">
                            <button class="btn btn-success" ng-click="completeTodo(todo._id, todo)"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-danger" ng-click="removeTodo(todo._id)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
